<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" name="title" placeholder="Title" [ngModel]="post?.title" required #title="ngModel">
      <mat-error *ngIf="title.invalid">please input the title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="3" name="content" placeholder="Content" [ngModel]="post?.content" required
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">please input the content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>